Step E flow.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1561\cocoasubrtf200
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\paperw11900\paperh16840\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx566\tx1133\tx1700\tx2267\tx2834\tx3401\tx3968\tx4535\tx5102\tx5669\tx6236\tx6803\pardirnatural\partightenfactor0

\f0\fs24 \cf0 [\{"id":"ac80a1a.374086","type":"function","z":"89c5edbc.4714c","name":"process","func":"// this bit is just for testing, so you can convince yourself it works ;)\\nif (msg.topic==\\"reset\\") \{\\n    context.set(\\"delay\\", undefined);\\n\}\\n\\n\\nif (msg.topic == \\"adc/1\\") \{\\n    // store the delay\\n    context.set(\\"delay\\", msg.delay);\\n    node.warn(\\"delay captured from adc/1: \\"+msg.delay);\\n    // just swallow the message - don't return anything\\n\}\\nif (msg.topic == \\"adc/0\\") \{\\n    // make sure we have a delay value to return\\n    if (context.get(\\"delay\\")) \{\\n        node.warn(\\"got: \\"+msg.payload+\\" from adc/0\\");\\n        // get the delay from adc/1\\n        msg.delay = context.get(\\"delay\\");\\n        // and keep the current payload of adc/0\\n        \\n        // send it on to the light controller\\n        return msg;\\n    \}\\n    else \{\\n        node.warn(\\"no delay value stored yet, so ignoring adc/0 reading\\");\\n    \}\\n\}\\n","outputs":1,"noerr":0,"x":1020,"y":560,"wires":[["532066a0.c11768","6aac6f1d.27f62","8640c300.33b21"]]\},\{"id":"58f3806d.52e57","type":"inject","z":"89c5edbc.4714c","name":"","topic":"","payload":"100","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":300,"wires":[["6aac6f1d.27f62"]]\},\{"id":"ba9484a4.50edf8","type":"inject","z":"89c5edbc.4714c","name":"","topic":"","payload":"50","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":340,"wires":[["6aac6f1d.27f62"]]\},\{"id":"7af6aba.c773554","type":"inject","z":"89c5edbc.4714c","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":380,"wires":[["6aac6f1d.27f62"]]\},\{"id":"fd8bc292.cea53","type":"pimcp3008","z":"89c5edbc.4714c","name":"","dev":"3008","pin":0,"dnum":0,"x":370,"y":760,"wires":[["646a2b8c.c81bc4"]]\},\{"id":"c53eba91.dc8768","type":"pimcp3008","z":"89c5edbc.4714c","name":"","dev":"3008","pin":"1","dnum":0,"x":370,"y":420,"wires":[["94e61cdf.f3d5e"]]\},\{"id":"f80d2bc9.81bef8","type":"inject","z":"89c5edbc.4714c","name":"","topic":"adc/1","payload":"10","payloadType":"num","repeat":"","crontab":"","once":true,"x":420,"y":520,"wires":[["97f2e99f.b88968"]]\},\{"id":"97f2e99f.b88968","type":"change","z":"89c5edbc.4714c","name":"","rules":[\{"t":"set","p":"delay","pt":"msg","to":"payload","tot":"msg"\}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":460,"wires":[["d1fd53e0.2ae05"]]\},\{"id":"18494367.3753ad","type":"inject","z":"89c5edbc.4714c","name":"","topic":"adc/0","payload":"20","payloadType":"num","repeat":"","crontab":"","once":true,"x":420,"y":600,"wires":[["ac80a1a.374086"]]\},\{"id":"532066a0.c11768","type":"debug","z":"89c5edbc.4714c","name":"","active":true,"console":"false","complete":"true","x":1230,"y":560,"wires":[]\},\{"id":"75237cd9.9e7f64","type":"inject","z":"89c5edbc.4714c","name":"reset","topic":"reset","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":410,"y":560,"wires":[["ac80a1a.374086"]]\},\{"id":"646a2b8c.c81bc4","type":"function","z":"89c5edbc.4714c","name":"Brightness","func":"// Divide output by 10.24\\nmsg.payload = msg.payload/10.24;\\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":760,"wires":[["ac80a1a.374086"]]\},\{"id":"6aac6f1d.27f62","type":"function","z":"89c5edbc.4714c","name":"","func":"\\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":340,"wires":[["b163bfd.cd11c4"]]\},\{"id":"8640c300.33b21","type":"delay","z":"89c5edbc.4714c","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":620,"wires":[["ac2e3e13.aa906","f73d536e.5934a"]]\},\{"id":"ac2e3e13.aa906","type":"change","z":"89c5edbc.4714c","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":620,"wires":[["6aac6f1d.27f62"]]\},\{"id":"94e61cdf.f3d5e","type":"function","z":"89c5edbc.4714c","name":"Speed","func":"// Divide output by 10.24\\nmsg.payload = msg.payload*4;\\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":420,"wires":[["97f2e99f.b88968"]]\},\{"id":"d1fd53e0.2ae05","type":"switch","z":"89c5edbc.4714c","name":"","property":"delay","propertyType":"msg","rules":[\{"t":"lt","v":"1000","vt":"str"\},\{"t":"else"\}],"checkall":"true","outputs":2,"x":790,"y":460,"wires":[["62c6b746.4dddc8"],["ac80a1a.374086"]]\},\{"id":"62c6b746.4dddc8","type":"change","z":"89c5edbc.4714c","name":"","rules":[\{"t":"set","p":"delay","pt":"msg","to":"1000","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":440,"wires":[["ac80a1a.374086"]]\},\{"id":"3fdd9499.88c16c","type":"change","z":"89c5edbc.4714c","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":480,"wires":[["c53eba91.dc8768"]]\},\{"id":"ef3662cf.8db8c","type":"change","z":"89c5edbc.4714c","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":700,"wires":[["fd8bc292.cea53"]]\},\{"id":"f73d536e.5934a","type":"delay","z":"89c5edbc.4714c","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":1000,"wires":[["3fdd9499.88c16c","ef3662cf.8db8c"]]\},\{"id":"b163bfd.cd11c4","type":"rpi-gpio out","z":"89c5edbc.4714c","name":"Lamp 1","pin":"35","set":"","level":"0","freq":"","out":"pwm","x":1520,"y":340,"wires":[]\}]}