Step E flow.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1561\cocoasubrtf200
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\paperw11900\paperh16840\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx566\tx1133\tx1700\tx2267\tx2834\tx3401\tx3968\tx4535\tx5102\tx5669\tx6236\tx6803\pardirnatural\partightenfactor0

\f0\fs24 \cf0 [\{"id":"baa13b7e.bb1908","type":"function","z":"1b474f.e13f18b1","name":"process","func":"// this bit is just for testing, so you can convince yourself it works ;)\\nif (msg.topic==\\"reset\\") \{\\n    context.set(\\"delay\\", undefined);\\n\}\\n\\n\\nif (msg.topic == \\"adc/1\\") \{\\n    // store the delay\\n    context.set(\\"delay\\", msg.delay);\\n    node.warn(\\"delay captured from adc/1: \\"+msg.delay);\\n    // just swallow the message - don't return anything\\n\}\\nif (msg.topic == \\"adc/0\\") \{\\n    // make sure we have a delay value to return\\n    if (context.get(\\"delay\\")) \{\\n        node.warn(\\"got: \\"+msg.payload+\\" from adc/0\\");\\n        // get the delay from adc/1\\n        msg.delay = context.get(\\"delay\\");\\n        // and keep the current payload of adc/0\\n        \\n        // send it on to the light controller\\n        return msg;\\n    \}\\n    else \{\\n        node.warn(\\"no delay value stored yet, so ignoring adc/0 reading\\");\\n    \}\\n\}\\n","outputs":1,"noerr":0,"x":900,"y":380,"wires":[["efe9cdf3.857f9","e964069c.f2e5f8","2f4c0460.acacac"]]\},\{"id":"a7666c50.15f31","type":"inject","z":"1b474f.e13f18b1","name":"","topic":"","payload":"100","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":120,"wires":[["e964069c.f2e5f8"]]\},\{"id":"f17e3e81.f5fdc","type":"inject","z":"1b474f.e13f18b1","name":"","topic":"","payload":"50","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":160,"wires":[["e964069c.f2e5f8"]]\},\{"id":"eab0167a.e59be8","type":"inject","z":"1b474f.e13f18b1","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":200,"wires":[["e964069c.f2e5f8"]]\},\{"id":"8f9a0615.efeb88","type":"pimcp3008","z":"1b474f.e13f18b1","name":"","dev":"3008","pin":0,"dnum":0,"x":250,"y":580,"wires":[["1dcee0d1.a73c2f"]]\},\{"id":"93dd45c9.c59ca8","type":"pimcp3008","z":"1b474f.e13f18b1","name":"","dev":"3008","pin":"1","dnum":0,"x":250,"y":240,"wires":[["d800f3db.67f2f"]]\},\{"id":"ea0392e2.64509","type":"rpi-gpio in","z":"1b474f.e13f18b1","name":"","pin":"37","intype":"up","debounce":"100","read":false,"x":100,"y":40,"wires":[["d8721fe2.53e23"]]\},\{"id":"9f4dba8.4b3f448","type":"debug","z":"1b474f.e13f18b1","name":"","active":true,"console":"false","complete":"false","x":370,"y":40,"wires":[]\},\{"id":"d8721fe2.53e23","type":"rbe","z":"1b474f.e13f18b1","name":"","func":"rbe","gap":"","start":"","inout":"out","x":230,"y":40,"wires":[["9f4dba8.4b3f448"]]\},\{"id":"37ed99d5.f6da16","type":"inject","z":"1b474f.e13f18b1","name":"","topic":"adc/1","payload":"10","payloadType":"num","repeat":"","crontab":"","once":true,"x":300,"y":340,"wires":[["b0a858f3.167c88"]]\},\{"id":"b0a858f3.167c88","type":"change","z":"1b474f.e13f18b1","name":"","rules":[\{"t":"set","p":"delay","pt":"msg","to":"payload","tot":"msg"\}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":280,"wires":[["73c12eea.11d47"]]\},\{"id":"a751acf9.21ac1","type":"inject","z":"1b474f.e13f18b1","name":"","topic":"adc/0","payload":"20","payloadType":"num","repeat":"","crontab":"","once":true,"x":300,"y":420,"wires":[["baa13b7e.bb1908"]]\},\{"id":"efe9cdf3.857f9","type":"debug","z":"1b474f.e13f18b1","name":"","active":true,"console":"false","complete":"true","x":1110,"y":380,"wires":[]\},\{"id":"6795294b.d07c38","type":"inject","z":"1b474f.e13f18b1","name":"reset","topic":"reset","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":290,"y":380,"wires":[["baa13b7e.bb1908"]]\},\{"id":"1dcee0d1.a73c2f","type":"function","z":"1b474f.e13f18b1","name":"Brightness","func":"// Divide output by 10.24\\nmsg.payload = msg.payload/10.24;\\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":580,"wires":[["baa13b7e.bb1908"]]\},\{"id":"e964069c.f2e5f8","type":"function","z":"1b474f.e13f18b1","name":"","func":"\\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":160,"wires":[["a298161.db395e8"]]\},\{"id":"2f4c0460.acacac","type":"delay","z":"1b474f.e13f18b1","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":440,"wires":[["968d60ee.79f86","89072199.78653"]]\},\{"id":"968d60ee.79f86","type":"change","z":"1b474f.e13f18b1","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":440,"wires":[["e964069c.f2e5f8"]]\},\{"id":"d800f3db.67f2f","type":"function","z":"1b474f.e13f18b1","name":"Speed","func":"// Divide output by 10.24\\nmsg.payload = msg.payload*4;\\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":240,"wires":[["b0a858f3.167c88"]]\},\{"id":"73c12eea.11d47","type":"switch","z":"1b474f.e13f18b1","name":"","property":"delay","propertyType":"msg","rules":[\{"t":"lt","v":"1000","vt":"str"\},\{"t":"else"\}],"checkall":"true","outputs":2,"x":670,"y":280,"wires":[["854ea8bd.5d30e8"],["baa13b7e.bb1908"]]\},\{"id":"854ea8bd.5d30e8","type":"change","z":"1b474f.e13f18b1","name":"","rules":[\{"t":"set","p":"delay","pt":"msg","to":"1000","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":260,"wires":[["baa13b7e.bb1908"]]\},\{"id":"cbc10c55.2c1b","type":"change","z":"1b474f.e13f18b1","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":300,"wires":[["93dd45c9.c59ca8"]]\},\{"id":"2fed0f93.39d82","type":"change","z":"1b474f.e13f18b1","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":520,"wires":[["8f9a0615.efeb88"]]\},\{"id":"89072199.78653","type":"delay","z":"1b474f.e13f18b1","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":820,"wires":[["cbc10c55.2c1b","2fed0f93.39d82"]]\},\{"id":"a298161.db395e8","type":"rpi-gpio out","z":"1b474f.e13f18b1","name":"Lamp 1","pin":"35","set":"","level":"0","freq":"","out":"pwm","x":1400,"y":160,"wires":[]\},\{"id":"61046a2c.9f58e4","type":"link in","z":"1b474f.e13f18b1","name":"","links":["e716b1a.fcce65"],"x":1135,"y":700,"wires":[[]]\}]}